@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  @apply bg-background text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: none !important;
  -webkit-text-fill-color: none !important;
}

/* custom date-picker */
.react-date-picker {
  @apply relative inline-flex tap-highlight-transparent shadow-sm bg-default-100 hover:bg-default-200 min-h-unit-8 rounded-small flex-col items-start justify-center gap-0 transition-background !duration-150 outline-none h-12 py-1.5 px-3;
}

.react-date-picker__wrapper {
  @apply !border-none w-full flex justify-between;
}

.react-calendar {
  @apply !bg-zinc-900 !border-none p-2 !rounded-lg;
}

.react-date-picker__inputGroup__input:invalid {
  background: none !important;
}

.react-calendar button {
  @apply rounded-md;
}

.react-calendar__tile--active {
  @apply !bg-primary !text-black;
}

.react-calendar__tile--now {
  @apply underline;
  background: none !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply !bg-white/10;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply !bg-primary/80;
}

.react-calendar__navigation button:hover {
  @apply !bg-white/10;
}

.react-date-picker__inputGroup {
  @apply truncate;
}

.react-date-picker__inputGroup__input:focus-visible {
  outline: none;
}
.react-date-picker__inputGroup__input {
  @apply !text-sm;
}

.react-date-picker__inputGroup__day::placeholder,
.react-date-picker__inputGroup__month::placeholder {
  @apply !w-fit;
}

.react-date-picker__inputGroup__day {
  text-align: end;
}

@keyframes floating-y {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@keyframes floating-x {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(15px, 0);
  }
  to {
    transform: translate(0, -0px);
  }
}
